[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nnavatha
[access "refs/for/refs/*"]
	read = group user/Nnavatha
	push = group user/Nnavatha
	label-Code-Review = -2..+2 group user/Nnavatha
	label-Verified = -1..+1 group user/Nnavatha
	rebase = group user/Nnavatha
	removeReviewer = group user/Nnavatha
	submit = group user/Nnavatha
[access "refs/heads/*"]
	read = group user/Nnavatha
	create = group user/Nnavatha
	push = +force group user/Nnavatha
	pushMerge = group user/Nnavatha
[access "refs/tags/*"]
	push = group user/Nnavatha
	push = +force group user/Nnavatha
